.changepassword {
    &__container {
        height: calc(100vh - 80px);
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__wrapper {
        background-color: rgb(255, 255, 255);
        // height: auto;
        // width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 5px 5px 10px 10px rgba(208, 207, 207, 0.7);
        padding: 20px;
      }
      &__user--icon {
        height: 20px;
        width: 20px;
      }
      &__invalid {
        border-color: red !important;
      }
}