.footer {
    height: 80px;
    width: 100%;
    // position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
    background: #32012F;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    bottom: 0;
    margin-top: 20px;

}